.infoCard {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    line-height: 22.4px;
    flex: 1;
    width: 300px;
  }
  
  .cardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    padding: 18px;
  }
  
  .cardTitle {
    font-weight: 700;
    margin-bottom: 22px;
  }
  
  .cardDescription {
    font-weight: 400;
  }
  
  @media (max-width: 991px) {
    .infoCard {
      width: 100%;
    }
  
    .cardContent {
      padding-right: 20px;
    }
  }