.courseOverview {
    width: 100%;
    height: 200%;
  }
  
  .sectionTitle {
    display: flex;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    letter-spacing: -0.57px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-left: -40px;
    margin-top: -50px;
  }
  
  .icon {
    width: 10px;
    height: 10px;
    margin: 0 10px;
  }
  .icon2 {
    width: 2000px;
    height: 20px;
    margin-top: 10px;
  }
  
  .filterSection {
    display: flex;
    align-items: center;
    background-color: #e0f1e0;
    padding: 5px 9px;
    margin-bottom: 20px;
  }
  
  .filterIcon {
    width: 15px;
    height: 15px;
    margin-right: 18px;
  }
  
  .filterText {
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #000;
    
  }
  
  .courseGrid {
    display: grid;
    grid-template-columns: repeat(2, 400px); /* Two columns, each 300px wide */
    gap: 20px;
    margin-bottom: 20px;
}
  
  .courseCard {
    background-color: #073a91;
    border-radius: 4px;
    padding: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
  }
 
  
  .courseTitle {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }
  
  .showMore {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #000;
  }
  
  .showMoreControl {
    display: flex;
    align-items: center;
    border: 1px solid #b88e2f;
    padding: 2px 13px;
    margin-left: 12px;
  }
  
  .expandIcon {
    width: 11px;
    height: 11px;
    margin-left: 3px;
  }
  
  @media (max-width: 991px) {
    .courseGrid {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
  }