.recentCourses {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  margin-bottom: 40px;
  margin-top: 260px;

}
.sectionTitle {
  display: flex;
  font-size: 15px;
  font-weight: 300;
  color: #000;
  letter-spacing: -0.57px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  margin-left: -40px;

  
}
.icon3 {
  width: 2000px;
  height: 20px;
  margin: 10px;
}
.icon {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.icon1 {
  width: 2000px;
  height: 20px;
  margin: 0 10px;
}
.icon2 {
  width: 2000px;
  height: 20px;
  margin-top: 60px;
}
.icon3 {
  width: 2000px;
  height: 20px;
  margin: 10px;
}


.courseControls {
  display: flex;
  gap: 14px;
  margin-bottom: 10px;
  
}

.controlIcon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.course {
  background-color: #073a91;
  border-radius: 4px;
  padding: 20px;
  color: #fff;
  height: 250px;
  width: 500px;
  display: flex;
  flex-direction: column; /* Allows stacking elements vertically */
  align-items: center; /* Centers content horizontally */
  justify-content: flex-start; /* Keeps content at the top initially */
  margin-left: 150px;
  margin-top: 35px;
  text-align: center;
}

.courseTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: auto; /* Pushes the title to the bottom */
  text-align: left; /* Centers the text */

}

@media (max-width: 991px) {
  .recentCourses {
    margin-bottom: 20px;
  }
}